FREE_INTERNET_COMMAND="free-internet"
FREE_INTERNET_INSTALL_DIR="/root/free-internet"
FREE_INTERNET_BIN_DIR="/usr/bin/free-internet"

# Repositories
PASSWALL_REPO="https://github.com/saeedkefayati/passwall1"
